@import url("./header.css");
@import url("./fonts/stylesheet.css");
@import url("./promo-text.css");
@import url("./overview.css");
@import url("./slogan.css");
@import url("./faq.css");
@import url("./block.css");
@import url("./review.css");
@import url("./blog.css");
@import url("./checklist.css");
@import url("./footer.css");

*{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    font-family: 'Helvetica Now Display', sans-serif;
}

.container {
    background-color: black;
    padding: 10px 10px;
    border-radius: 60px;
}