@import url("./css/header.css");
@import url("./fonts/stylesheet.css");
@import url("./css/promo-text.css");
@import url("./css/overview.css");
@import url("./css/slogan.css");
@import url("./css/faq.css");
@import url("./css/block.css");
@import url("./css/review.css");
@import url("./css/blog.css");
@import url("./css/checklist.css");
@import url("./css/footer.css");

*{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    font-family: 'Helvetica Now Display', sans-serif;
}

.container {
    background-color: black;
    padding: 10px 10px;
    border-radius: 60px;
}