.reviews {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.review__list_column{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.review__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 50px 60px;
    height: 480px;
    background-repeat: no-repeat;
    background-position: 60px 50px;
}

.review__list_column:nth-of-type(1) .review__item:nth-of-type(1),
 .review__list_column:nth-of-type(2) .review__item:nth-of-type(2) {
    height: 360px;
}

.review__list_column:nth-of-type(1) .review__item:nth-of-type(1) {
    background-image: url("/img/avatar-1.png");
}

.review__list_column:nth-of-type(1) .review__item:nth-of-type(2) {
    background-image: url("/img/avatar-3.png");
}

.review__list_column:nth-of-type(2) .review__item:nth-of-type(1) {
    background-image: url("/img/avatar-2.png");
}

.review__list_column:nth-of-type(2) .review__item:nth-of-type(2) {
    background-image: url("/img/avatar-4.png");
}

.review__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 128px;
    margin-left: 142px;
}

.review__list_column:nth-of-type(2) .review__user{
    margin-left: 152px;
}

.review__user-name, .review__user-location {
    font-size: 24px;
    margin-top: 11px;
}

.review__user-name {
    font-weight: 500;   
}

.review__text {
    margin-top: 42px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

@media (max-width:1200px) {
    .review__item {
        height: 400px;
        background-size: 120px;
    }
    .review__list_column:nth-of-type(1) .review__item:nth-of-type(1),
    .review__list_column:nth-of-type(2) .review__item:nth-of-type(2) {
        height: 300px;
    }

    .review__text {
        font-size: 22px;
    }
}

@media (max-width:1024px) {
    .review__item {
        background-size: 100px;
        padding: 10px 45px;
        background-position: 30px 30px;
    }
    .review__text {
        font-size: 18px;
        margin-top: 22px;
    }

    .review__user-name, .review__user-location {
        font-size: 18px;
    }

    .review__user {
        margin-left: 100px;
    }

    .review__list_column:nth-of-type(2) .review__user{
        margin-left: 110px;
    }
}

@media (max-width:769px) {
    .review__list_column {
        width: 100%;
    }
    
    .review__item {
        height: 320px;
        padding: 15px 40px;
    }
    .review__list_column:nth-of-type(1) .review__item:nth-of-type(1),
    .review__list_column:nth-of-type(2) .review__item:nth-of-type(2) {
        height: 240px;
    }
}

@media (max-width:480px) {
    .review__text {
        font-size: 16px;
        line-height: 1.3em;
    }
}